<cwc-header design-version="v2" slot="header" show-Menu-Button="false" show-cemex-logo="false">
  <div class="header-text">
    <ion-icon name="arrow-back-outline" style="font-size: 25px;" (click)="onBack()"></ion-icon>
    <div class="attr-name" style="padding-left: 1rem;">Viaje {{travel.codeTravel}}</div>
  </div>
</cwc-header>
<div slot="main" class="content-card">
  <cwc-card class="m-all-xs" design-version="v2">
    <div class="card-content">
      <div class="content-avatar-menu" style="margin-right: 0.1rem; display: flex; justify-content: space-between;">
        <div style="display: flex;">
          <div>
            <div class="attr-name">Conductor</div>
            <span class="style-name">{{travel.userName}}</span>
          </div>
        </div>
      </div>

      <hr color="#D0D0D0" />
      <cwc-grid class="demo-grid" style="padding-top: 0.5rem;">
        <cwc-cell colspan="12" mobile-colspan="12">
          <div class="attr-user">Origen</div>
          <span class="attr-detail">{{travel.source}}</span>
        </cwc-cell>
      </cwc-grid>

      <cwc-grid class="demo-grid center-cell">
        <cwc-cell colspan="12" mobile-colspan="12">
          <div class="attr-user">Destino</div>
          <span class="attr-detail">{{travel.destiny}}</span>
        </cwc-cell>
      </cwc-grid>

      <cwc-grid class="demo-grid">
        <cwc-cell mobile-colspan="6">
          <div class="attr-user">Número de Placa</div>
          <span class="attr-detail">{{travel.vehicleLissenceName}}</span>
        </cwc-cell>
        <cwc-cell mobile-colspan="6">
          <div class="attr-user">Fecha y Hora de Cita</div>
          <span class="attr-detail">{{travel.dateTravel}} {{travel.timerStar}}</span>
        </cwc-cell>
      </cwc-grid>
    </div>
  </cwc-card>
</div>