<cwc-card class="m-all-xs action accordion card-content-margin" *ngFor="let driver of drivers" (click)="detailDriver(driver.id)">
  <div class="card-content">
    <cwc-grid class="demo-grid" >
      <cwc-cell colspan="12" mobile-colspan="9">   
          <div class="attr-user">{{driver.firstLastName}}</div>
          <span class="text-info">{{driver.phoneNumber}}</span>
      </cwc-cell>
      <cwc-cell colspan="12" mobile-colspan="3">
        <div class="content-btn-edit">            
          <cwc-icon name='check-rounded-active-fill' size="8px" color='bright-green'></cwc-icon>
          <span class="text-stade">{{driver.travelStatus}}</span>
        </div>   
      </cwc-cell>
      <!--
      <cwc-status-indicator style="text-align: end;" size="small" class="statusI" variant='success' colspan="12" mobile-colspan="3">
        <div class="statusI">{{driver.travelStatus}}</div>
      </cwc-status-indicator>
      -->
    </cwc-grid>
    <cwc-grid class="demo-grid" >
      <cwc-cell colspan="12" mobile-colspan="6">   
          <div class="text-company">{{driver.company}}</div>
      </cwc-cell>
      <cwc-cell colspan="12" mobile-colspan="6">   
        <div class="content-btn-edit">
          <br>
          <cwc-button variant="link">
            <div class="text-button">VER MÁS</div>
          </cwc-button>
        </div> 
      </cwc-cell>
    </cwc-grid>
  </div>
</cwc-card>