<cwc-card *ngFor="let driver of drivers | listDriveFilter:searchFilter" (click)="detailDriver(driver.UserId)" class="card-content-margin"
  design-version="v1">
  <div class="card-content">
    <cwc-grid class="demo-grid">
      <cwc-cell colspan="12" mobile-colspan="8">
        <div class="attr-user">{{driver.FirstName + ' ' + driver.LastName}}</div>
        <span class="text-info">{{driver.PhoneNumber}}</span>
      </cwc-cell>
      <cwc-cell colspan="12" mobile-colspan="4">
        <cwc-status-indicator size="small" class="statusI" variant='success'>
          <div class="statusI">{{textResp.getStatusTravelUser(driver.StatusTravel)}}</div>
        </cwc-status-indicator>
      </cwc-cell>
    </cwc-grid>
    <cwc-grid class="demo-grid">
      <cwc-cell colspan="12" mobile-colspan="6">
        <div class="text-company">{{driver.CompanyName}}</div>
      </cwc-cell>
      <cwc-cell colspan="12" mobile-colspan="6">
        <div class="content-btn-edit">
          <br>
          <cwc-button variant="link">
            <div class="text-button">VER MÁS</div>
          </cwc-button>
        </div>
      </cwc-cell>
    </cwc-grid>
  </div>
</cwc-card>