.content-card{
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    padding-bottom: 1rem;
    flex: 1 1 auto;
    overflow: auto;
 }

.content-title{
    padding-top: 1rem;
    font-weight: 700;
}

.content-grid-register{
    // display: flex !important;
    overflow: auto;
    justify-content: center !important;
    // align-items: center !important;
 }