<cwc-header design-version="v2" slot="header" show-Menu-Button="false" show-cemex-logo="false">
  <div class="header-text">
    <ion-icon name="arrow-back-outline" style="font-size: 25px;" (click)="onBack()"></ion-icon>
    <div class="attr-name" style="padding-left: 1rem;">Buscar viaje</div>
  </div>
</cwc-header>
<div slot="main" class="content-card">
  <div class="content-title" style="color: #938f8f;">
    Viajes disponibles
  </div>  
  <hr color="#D0D0D0"/>
  <div>
    <h4>Destino</h4>
    <div>Viaje 332768, 10:10 am</div>
    <div>
      
    </div>
  </div>
</div>
