<cwc-header design-version="v2" slot="header" show-Menu-Button="false" show-cemex-logo="false">
  <div class="header-text">
    <ion-icon name="arrow-back-outline" style="font-size: large;" (click)="onBack()"></ion-icon>
    <div class="attr-name" style="padding-left: 1rem; font-size: large; font-weight: 900;">Actualizar documentos</div>
  </div>
</cwc-header>
<div slot="main" class="content">
  <div class="content-title-register">
    <h4>Seleccione el documento que desea actualizar</h4>
  </div>
  <div>
    <cwc-grid class="demo-grid">
      <cwc-cell colspan="6" mobile-colspan="12">
        <div class="content-check-docs">
          <cwc-checkbox (cwcChange)="showFileSOAT($event)" class="input-check-docs">SOAT</cwc-checkbox>
          <br>
          <cwc-checkbox (cwcChange)="showFileTecnoMecanica($event)" class="input-check-docs">
            Certificado de revisión tecno mecánica
          </cwc-checkbox>
          <br>
          <cwc-checkbox (cwcChange)="showFilePoliza($event)" class="input-check-docs">Póliza</cwc-checkbox>
          <br>
          <cwc-checkbox (cwcChange)="showFileTarjetaPropiedad($event)" class="input-check-docs">
            Tarjeta de propiedad</cwc-checkbox>
        </div>

        <div *ngIf="!validateCheckBox() || !showUpdateDoc" class="content-button">
          <cwc-button [disabled]="!validateCheckBox()" (cwcClick)="nextSelectDoc()" variant="regular-block"
            design-version="v1">
            <div class="button-css">SIGUIENTE</div>
          </cwc-button>
        </div>
      </cwc-cell>
    </cwc-grid>

    <div *ngIf="validateCheckBox() && showUpdateDoc" style="margin-top: 2rem;">
      <h4>Adjunte los documentos seleccionados</h4>
      <div *ngIf="fileSOATCheck">
        <label for=""> Documento de SOAT </label>
        <div *ngIf="!fileVehicle.fileSOAT">
          <cwc-grid class="demo-grid content-archive" column-gap="1px">
            <input type="file" accept="image/*,.pdf" #getFileSoatDocument style="display: none;"
              (change)="fileVehicle.onFileSOAT($event)" />
            <cwc-cell (click)="openModalDocument('SoatDocument')" class="border" mobile-colspan="6">
              <div class="item-archives">
                <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Tomar fotografía</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="6" alignItems="center">
              <div class="item-archives" (click)="getFileSoatDocument.click()">
                <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Seleccionar archivo</div>
              </div>
            </cwc-cell>
          </cwc-grid>
        </div>
        <div *ngIf="fileVehicle.fileSOAT">
          <cwc-grid class="demo-grid content-archive flex">
            <cwc-cell mobile-colspan="11">
              <div class="item-archives">
                <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">{{fileVehicle.fileSOAT}}</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="1" class="flex">
              <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
                (click)="fileVehicle.deleteFileSOAT(inputFileSoat)" name="close" size="20px" color="bright-blue">
              </cwc-icon>
            </cwc-cell>
          </cwc-grid>
        </div>
      </div>

      <div *ngIf="fileTecnoMecanicaCheck">
        <label for=""> Certificado de revisión tecno mecánica </label>
        <div *ngIf="!fileVehicle.fileTecnoMecanica">
          <cwc-grid class="demo-grid content-archive" column-gap="1px">
            <input type="file" accept="image/*,.pdf" #getFileTechnomechanicsDocument style="display: none;"
              (change)="fileVehicle.onFileTecnoMecanica($event)" />
            <cwc-cell (click)="openModalDocument('TechnomechanicsDocument')" class="border" mobile-colspan="6">
              <div class="item-archives">
                <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Tomar fotografía</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="6" alignItems="center">
              <div class="item-archives" (click)="getFileTechnomechanicsDocument.click()">
                <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Seleccionar archivo</div>
              </div>
            </cwc-cell>
          </cwc-grid>
        </div>
        <div *ngIf="fileVehicle.fileTecnoMecanica">
          <cwc-grid class="demo-grid content-archive flex">
            <cwc-cell mobile-colspan="11">
              <div class="item-archives">
                <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">{{fileVehicle.fileTecnoMecanica}}</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="1" class="flex">
              <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
                (click)="fileVehicle.deleteFileTecnoMecanica(inputFileTechnomechanicsDocument)" name="close" size="20px"
                color="bright-blue">
              </cwc-icon>
            </cwc-cell>
          </cwc-grid>
        </div>
      </div>

      <div *ngIf="filePolizaCheck">
        <label for=""> Póliza </label>
        <div *ngIf="!fileVehicle.filePoliza">
          <cwc-grid class="demo-grid content-archive" column-gap="1px">
            <input type="file" accept="image/*,.pdf" #getFilePolicyDocument style="display: none;"
              (change)="fileVehicle.onFilePoliza($event)" />
            <cwc-cell (click)="openModalDocument('PolicyDocument')" class="border" mobile-colspan="6">
              <div class="item-archives">
                <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Tomar fotografía</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="6" alignItems="center">
              <div class="item-archives" (click)="getFilePolicyDocument.click()">
                <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Seleccionar archivo</div>
              </div>
            </cwc-cell>
          </cwc-grid>
        </div>
        <div *ngIf="fileVehicle.filePoliza">
          <cwc-grid class="demo-grid content-archive flex">
            <cwc-cell mobile-colspan="11">
              <div class="item-archives">
                <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">{{fileVehicle.filePoliza}}</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="1" class="flex">
              <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
                (click)="fileVehicle.deleteFilePoliza(inputFilePolicyDocument)" name="close" size="20px"
                color="bright-blue">
              </cwc-icon>
            </cwc-cell>
          </cwc-grid>
        </div>
      </div>

      <div *ngIf="fileTarjetaPropiedadCheck">
        <label for=""> Tarjeta de propiedad </label>
        <div *ngIf="!fileVehicle.fileTarjetaPropiedad">
          <cwc-grid class="demo-grid content-archive" column-gap="1px">
            <input type="file" accept="image/*,.pdf" #getFileCardPropertyDocument style="display: none;"
              (change)="fileVehicle.onFileTarjetaPropiedad($event)" />
            <cwc-cell (click)="openModalDocument('CardPropertyDocument')" class="border" mobile-colspan="6">
              <div class="item-archives">
                <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Tomar fotografía</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="6" alignItems="center">
              <div class="item-archives" (click)="getFileCardPropertyDocument.click()">
                <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Seleccionar archivo</div>
              </div>
            </cwc-cell>
          </cwc-grid>
        </div>
        <div *ngIf="fileVehicle.fileTarjetaPropiedad">
          <cwc-grid class="demo-grid content-archive flex">
            <cwc-cell mobile-colspan="11">
              <div class="item-archives">
                <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">{{fileVehicle.fileTarjetaPropiedad}}</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="1" class="flex">
              <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
                (click)="fileVehicle.deleteFileTarjetaPropiedad(inputFileDoc)" name="close" size="20px"
                color="bright-blue">
              </cwc-icon>
            </cwc-cell>
          </cwc-grid>
        </div>
      </div>

      <div class="content-button">
        <cwc-button (cwcClick)="updateDocument()" variant="regular-block" design-version="v1">
          <div class="button-css">AGREGAR DOCUMENTOS</div>
        </cwc-button>
      </div>
    </div>
  </div>
</div>
<!--=====================================
		ALERTA SUBIO CORRECTAMENTE
======================================-->
<app-alert-success [alertShow]="alertSucces" title="Existoso" urlButton="/app/vehiculos/detalles"
  message="El archivo se actualizó correctamente">
</app-alert-success>

<cwc-snackbar id='toast-message-driver' [message]="toastMessage" cta-message="dismiss" auto-hide-duration='5000'>
</cwc-snackbar>


<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>

<cwc-modal id='modal-document' class="modal-cemex" closeOnBdClick="false" (cwcClose)="cloceModalDocument()">
  <header slot='header'>
    <h2 style='margin:0;'>Agregar {{nameText}} (Opcional)</h2>
  </header>
  <cwc-grid class="demo-grid" design-version="v2" columns="12" mobile-columns="12" style="margin-top: 2rem;"
    style="margin-bottom: 2rem">
    <cwc-cell colspan="6" mobile-colspan="12" style="cursor: pointer; margin-top: 1rem;">
      <label for="">1. Parte frontal del documento.</label>
      <div class="contend-upload-camera" (click)="fileVehicle.openCameraOne()">

        <ion-img class="img-photo-register" *ngIf="fileVehicle.photoFrontal" [src]="fileVehicle.photoFrontal" style="object-fit: cover;
          max-height: 175px !important;"></ion-img>

        <cwc-icon *ngIf="!fileVehicle.photoFrontal" name="camera" color="bright-blue" size="30px"
          style="margin-right: 1rem;"></cwc-icon>
        <p *ngIf="!fileVehicle.photoFrontal">Abrir cámara del dispositivo</p>

      </div>
      <cwc-button (cwcClick)="fileVehicle.removePhotoFrontal()" *ngIf="fileVehicle.photoFrontal" variant="link"
        class="m-h-reg remove-photo-archive">Quitar Foto</cwc-button>
    </cwc-cell>
    <cwc-cell colspan="6" mobile-colspan="12" style="cursor: pointer; margin-top: 1rem;">
      <label for="">2. Parte trasera del documento.</label>
      <div class="contend-upload-camera" (click)="fileVehicle.openCameraTwo()">

        <ion-img class="img-photo-register" *ngIf="fileVehicle.photoBack" [src]="fileVehicle.photoBack" style="object-fit: cover;
        max-height: 175px !important;"></ion-img>

        <cwc-icon *ngIf="!fileVehicle.photoBack" name="camera" color="bright-blue" size="30px"
          style="margin-right: 1rem;"></cwc-icon>
        <p *ngIf="!fileVehicle.photoBack">Abrir cámara del dispositivo</p>

      </div>
      <cwc-button (cwcClick)="fileVehicle.removePhotoBack()" *ngIf="fileVehicle.photoBack" variant="link"
        class="m-h-reg remove-photo-archive">Quitar Foto</cwc-button>
    </cwc-cell>
  </cwc-grid>
  <footer slot='footer'>
    <div style='text-align: center'>
      <cwc-button variant='support' design-version="v2" (cwcClick)="cloceModalDocument()" style="margin-right: 1rem;">
        Cancelar</cwc-button>
      <cwc-button design-version="v2" *ngIf="fileVehicle.photoBack && fileVehicle.photoFrontal" variant='primary'
        (cwcClick)="saveDocument()">Aceptar</cwc-button>
    </div>
  </footer>
</cwc-modal>