<app-layout class="card-size">
  <div class="content-page">
    <cwc-input class="search-text" variant="regular" rtl="false" trailing-icon='magnifier-glass' [(ngModel)]="search" placeholder='Buscar...'></cwc-input> 
    <div class="text-vehicles">Vehículos ({{vehiclesList.length}})</div>
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="navbar">
        <app-vehicle-list [vehicles]="vehiclesList" [searchFilter]="search" [companyName]="company"></app-vehicle-list>
      </div>
    </ion-content>  
    <cwc-button class="float" routerLink="agregar" design-version="v2" size="large" variant="ghost" ratio="square" trailing-icon="plus"></cwc-button>
  </div>  
</app-layout>

<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>
