.navbar {
    margin-top: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
}

.search-text {
    width: 100%;
}

.text-vehicles {
    font-weight: 900;
    font-size: 15px;
    color: #002A59;
}

.float {
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-align: center;
    background-color: #05376E;
    border-radius: 30px;
}