<cwc-header design-version="v2" slot="header" show-Menu-Button="false" show-cemex-logo="false">
  <div class="header-text">
    <ion-icon name="arrow-back-outline" style="font-size: large;" (click)="onBack()"></ion-icon>
    <div class="attr-name" style="padding-left: 1rem; font-size: large; font-weight: 900;">Editar conductor</div>
  </div>
</cwc-header>
<div slot="main" class="content-card">
  <div class="content-title">
    Editar conductor
  </div>
  <form [formGroup]="form">
    <cwc-grid class="demo-grid" design-version="v2" columns="12" mobile-columns="12">
      <cwc-cell colspan="12" mobile-colspan="12">
        <div class="section">
          <cwc-input class="input" label='Nombre (s)' [status]="msgField.getStatusField(form, 'FirstName')"
            [statusMessage]="msgField.getFirstNameFieldMsg(form, 'FirstName', 'nombre(s)')" maxlength="45"
            placeholder="Escribe tu Nombre" design-version="v2" formControlName="FirstName" required></cwc-input>
        </div>
        <div class="section">
          <cwc-input class="input" formControlName="LastName" label='Apellido (s)'
            [status]="msgField.getStatusField(form, 'LastName')"
            [statusMessage]="msgField.getLastNameFieldMsg(form, 'LastName', 'apellido(s)')" maxlength="45"
            placeholder="Apellido paterno y materno" design-version="v2" required></cwc-input>
        </div>
        <div class="section">
          <cwc-input class="input" label='N° documento' formControlName="IdDocument"
            [status]="msgField.getStatusField(form, 'IdDocument')"
            [statusMessage]="msgField.getDocumentFieldMsg(form, 'IdDocument', 'NIT o CC')" design-version="v2"
            minlength="6" maxlength="15" placeholder="Escribir números sin guiones ni espacios" required></cwc-input>
        </div>
        <div class="section">
          <cwc-input class="input" label='Código SAP' formControlName="CodeSap"
            [status]="msgField.getStatusField(form, 'CodeSap')"
            [statusMessage]="msgField.getSapCodeFieldMsg(form, 'CodeSap', 'codígo Sap')" maxlength="45"
            placeholder="Agrega el código SAP" design-version="v2" required></cwc-input>
        </div>
        <div class="section">
          <cwc-input class="input" label='Número de celular' type="number" formControlName="PhoneNumber"
            [status]="msgField.getStatusField(form, 'PhoneNumber')"
            [statusMessage]="msgField.getPhoneNumberFieldMsg(form, 'PhoneNumber', 'número de celular')"
            design-version="v2" placeholder="Agrega un número de telefono" required></cwc-input>
        </div>
        <div class="section">
          <cwc-input class="input" label='Correo electrónico' formControlName="Email"
            [status]="msgField.getStatusField(form, 'Email')" [disabled]="true"
            [statusMessage]="msgField.getEmailFieldMsg(form, 'Email', 'correo electrónico')" design-version="v2"
            placeholder="Agrega tu correo electrónico" required></cwc-input>
        </div>
        <div class="section">
          <cwc-input class="input" label='Empresa' type="text" [disabled]="true" design-version="v2"
            [placeholder]="company" required></cwc-input>
        </div>
      </cwc-cell>
    </cwc-grid>

    <cwc-checkbox formControlName="term" mobile="true" class='m-end-sm' style="margin-bottom: 2rem;">
      <div class="input-check">Confirmo que la siguiente información es verdadera.</div>
    </cwc-checkbox>

    <app-error-messages [errors]="errors"></app-error-messages>
    <!--=====================================
      BOTON PARA GUARDAR EL REGISTRO
    ======================================-->
    <div class="content-button">
      <cwc-button design-version="v1" [disabled]="form.invalid" (cwcClick)="openAlertConfirm()"
        variant="regular-block">GUARDAR CAMBIOS</cwc-button>
    </div>
  </form>
</div>
<!--=====================================
		MODAL ALERTA CONFIRMAR DATOS GUARDAR
======================================-->
<cwc-modal id='alert-confirm' class="alert-confirm" [open]="alertConfirm" (cwcClose)="closeAlertConfirm()">
  <header slot='header'>
    <h2 style='margin:0;'>Atención</h2>
  </header>
  <p>¿Esta seguro que los datos registrados estan correctos?</p>
  <footer slot='footer'>
    <div style='text-align: end'>
      <cwc-button variant='support' (cwcClick)="closeAlertConfirm()" style="margin-right: 1rem;">Cancelar</cwc-button>
      <cwc-button variant='primary' (cwcClick)="update()">Aceptar</cwc-button>
    </div>
  </footer>
</cwc-modal>
<!--=====================================
		MODAL CONFIRMACIÓN RESPUESTA DE EXITO
======================================-->

<cwc-modal id='alert-modal-succes' [open]="alertSucces" close-on-bd-click="false" show-close-btn="false">
  <div style='text-align: center'>
    <cwc-icon name='accepted-ok' size='120px' color='bright-green'></cwc-icon>
    <h3 class='modal--confirmation__message'>Su información ha sido guardada exitosamente</h3>
  </div>
</cwc-modal>
<!--=====================================
	TOAST ALERT MENSAJE
======================================-->
<cwc-snackbar id='toast-message-driver' [message]="toastMessage" cta-message="dismiss"
  auto-hide-duration='5000'></cwc-snackbar>

<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>