<app-layout class="card-size">
  
  <cwc-grid class="demo-grid" style="padding-top: 1rem;">
    <cwc-cell colspan="6" mobile-colspan="9">
      <div>Semana 22 de Agosto, 2020</div>
    </cwc-cell>
    <cwc-cell colspan="6" mobile-colspan="3">
      <div style="text-align: end;">2 viajes</div>
    </cwc-cell>
  </cwc-grid>
  <div class="navbar" style="padding-top: 0.5rem;">
    <app-request-waiting-list></app-request-waiting-list>
  </div>
  <cwc-button class="float" design-version="v2" size="large" variant="ghost" ratio="square" trailing-icon="plus"></cwc-button>
</app-layout>
 