.card-size{
    padding: 0;
}


span.number-phone {
    padding-left: 8px;
    padding-right: 10px;
}

span.style-name {
    margin-left: 0.2rem;
    font-size: small;
    font-weight: 700;
}

.attr-user {
    font-size: x-small;
    font-weight: 700;
    text-transform: uppercase;
}

.attr-document {
    font-size: smaller;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.center-cell {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.text-info{
    font-size: small;
}

span.text-archive{
    font-size: small;
    color: black;
}

.cell-button{
    padding-top: 2rem;
    text-align: right;
    
}

.button-cell{
    font-size: small;
    font-weight: 700;
    text-transform: uppercase;
}