<cwc-header design-version="v2" slot="header" show-Menu-Button="false" show-cemex-logo="false">
    <div class="header-text">
      <ion-icon name="arrow-back-outline" style="font-size: large;" (click)="onBack()"></ion-icon>
      <div class="attr-name" style="padding-left: 1rem; font-size: large; font-weight: 900;">Nueva Solicitud</div>
    </div>
</cwc-header>
<div slot="main" class="content-card">
    <div *ngIf="rol !== 1"><app-request-admin-new (propagar)="showLoading($event)"></app-request-admin-new></div>
    <div *ngIf="rol === 1"><app-request-drive-new (propagar)="showLoading($event)"></app-request-drive-new></div>
</div>

<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>



