<cwc-grid class="demo-grid">
    <cwc-cell mobile-colspan="12">
            <div class="main-content-card">
                <div class="header-card">
                    <cwc-cell mobile-colspan="6">  
                        <div class="attr-user-header">Viaje</div>
                        <span style="color: #05376E; font-weight: 700;">{{travelDetail.codeTravel}}</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="6" *ngIf="travelDetail.statusTravel === 4">
                        <cwc-button variant="link">
                            <div class="text-button" >INICIAR VIAJE</div>
                        </cwc-button>
                    </cwc-cell>
                </div> 

                <hr color="#D0D0D0" />

                <div style="padding-bottom: 1rem;">
                    <cwc-grid class="demo-grid" >
                        <cwc-cell mobile-colspan="12">  
                            <div class="attr-user">Origen</div>
                            <span>{{travelDetail.source}}</span>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="12">
                            <div class="attr-user">Destino</div>
                            <span>{{travelDetail.destiny}}</span>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="8">
                            <div class="attr-user">Fecha y hora</div>
                            <span>{{travelDetail.dateTravel + ' ' + travelDetail.timerStar}}</span>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="4">   
                            <div class="attr-user">Cantidad</div>
                            <span>{{travelDetail.amount}}</span>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="8">
                            <div class="attr-user">Cliente</div>
                            <span>{{travelDetail.clientName}}</span>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="4">   
                            <div class="attr-user">Número de Placa</div>
                            <span>{{travelDetail.vehicleModelName}}</span>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="8">   
                            <div class="attr-user">Inicio de viaje</div>
                            <span>{{travelDetail.codeTravel}}</span>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="4">   
                            <div class="attr-user">Inicio de descarga</div>
                            <span>{{travelDetail.codeTravel}}</span>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="12">   
                            <div class="attr-user">Fin de Descarga</div>
                            <span>{{travelDetail.codeTravel}}</span>
                        </cwc-cell>
                    </cwc-grid>
                </div>
                
                <div>
                    <div class="attr-document" >Documentación</div>                
                    <hr color="#D0D0D0" />
                    <cwc-grid class="demo-grid">
                        <cwc-cell mobile-colspan="12" class="title_document">
                            <span>Documentos previamente aprobados</span>
                        </cwc-cell>
                    </cwc-grid>
                    <cwc-grid class="demo-grid content-archive">

                        <!-- Documento agregado -->

                        <cwc-cell mobile-colspan="12">
                            <div class="flex flex__align--center">
                              <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
                              <div class="text-archive">Remesas_Certificado.pdf</div>
                            </div>
                        </cwc-cell>

                        <!-- Documento para agregar -->

                        <cwc-cell mobile-colspan="6" class="border">
                          <div class="item-archives flex flex__align--center">
                            <cwc-icon name="camera" size="28px"  color="bright-blue"></cwc-icon>
                            <div class="text-archive">Tomar fotografía</div>
                          </div>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="6">
                          <div class="item-archives flex flex__align--center">
                            <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
                            <div class="text-archive">Seleccionar archivo</div>
                          </div>
                        </cwc-cell>
                      </cwc-grid>
                </div>
                
                <hr color="#D0D0D0"/>
                <cwc-grid class="demo-grid" style="padding-top: 0.5rem; padding-bottom: 1rem;">
                    <cwc-cell mobile-colspan="6" >                       
                        <div>Actualizaciones</div>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="6" style="text-align: end;">
                        <cwc-button variant="link">
                            <div class="text-button">Mostrar</div>
                        </cwc-button>
                    </cwc-cell>
                </cwc-grid>
                <cwc-grid class="demo-grid">
                    <cwc-cell mobile-colspan="12">
                        <div class="attr-user">Fecha y hora de cita</div>
                        <span>10:30 am</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="12">   
                        <div class="attr-user">Actualización</div>
                        <span>Lluvias y deslabe en la carretera de planta Medellín, posible retraso de 1 hora.</span>
                    </cwc-cell>
                </cwc-grid>
            </div>
    </cwc-cell>
</cwc-grid>