<cwc-grid class="demo-grid">
    <cwc-cell mobile-colspan="12">
        <div class="main-content-card">
            <div class="header-card">
                <cwc-cell mobile-colspan="6">
                    <div class="attr-user-header">Viaje</div>
                    <span style="color: #05376E; font-weight: 700;">{{travelDetail.codeTravel}}</span>
                </cwc-cell>
                <cwc-cell mobile-colspan="6" *ngIf="travelDetail.StatusTravel === 2">
                    <cwc-button variant="link" (cwcClick)="onClickConfirmTrip()">
                        <div class="text-button">CONFIRMAR VIAJE</div>
                    </cwc-button>
                </cwc-cell>
                <cwc-cell mobile-colspan="6"
                    *ngIf="travelDetail.StatusTravel === 3 && travelDetail.LoadStar === undefined">
                    <cwc-button variant="link" (cwcClick)="onClickStartCharge()">
                        <div class="text-button">INICIAR CARGA</div>
                    </cwc-button>
                </cwc-cell>
                <cwc-cell mobile-colspan="6"
                    *ngIf="travelDetail.LoadEnd === undefined && travelDetail.StatusTravel === 4">
                    <cwc-button variant="link" (cwcClick)="onClickStartTravel()">
                        <div class="text-button">INICIAR VIAJE</div>
                    </cwc-button>
                </cwc-cell>
                <cwc-cell mobile-colspan="6"
                    *ngIf="travelDetail.DowloadStar === undefined && travelDetail.LoadEnd !== undefined">
                    <cwc-button variant="link" (cwcClick)="onClickStartDischarge()">
                        <div class="text-button">INICIAR DESCARGA</div>
                    </cwc-button>
                </cwc-cell>
                <cwc-cell mobile-colspan="6"
                    *ngIf="travelDetail.DowloadEnd === undefined && travelDetail.DowloadStar !== undefined">
                    <cwc-button variant="link" (cwcClick)="onClickEndDischarge()">
                        <div class="text-button">FINALIZAR DESCARGA</div>
                    </cwc-button>
                </cwc-cell>
                <cwc-cell mobile-colspan="6" *ngIf="travelDetail.DowloadEnd !== undefined && travelDetail.StatusTravelAvailability === 5 && fileTravel.fileData.name.length === 2">
                    <cwc-button variant="link" (cwcClick)="onClickEndTravel()">
                        <div class="text-button">FINALIZAR VIAJE</div>
                    </cwc-button>
                </cwc-cell>
            </div>

            <cwc-cell mobile-colspan="12" style="padding-bottom: 0.8rem;">
                <cwc-progress-bar style='width:100%' variant='split'>
                    <cwc-progress-bar-item progress='100'></cwc-progress-bar-item>
                </cwc-progress-bar>
            </cwc-cell>



            <div style="padding-bottom: 1rem;">
                <cwc-grid class="demo-grid">
                    <cwc-cell mobile-colspan="12">
                        <div class="attr-user">Origen</div>
                        <span>{{travelDetail.Source}}</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="12">
                        <div class="attr-user">Destino</div>
                        <span>{{travelDetail.Destiny}}</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="8">
                        <div class="attr-user">Fecha y hora</div>
                        <span>{{travelDetail.DateTravel | date : 'mediumDate'}} - {{travelDetail.TimerStar}}</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="4">
                        <div class="attr-user">Cantidad</div>
                        <span>{{travelDetail.Amount}}</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="8">
                        <div class="attr-user">Cliente</div>
                        <span>{{travelDetail.ClientName}}</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="4">
                        <div class="attr-user">Número de Placa</div>
                        <span>{{travelDetail.LicenseVehiculo}}</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="8" *ngIf="travelDetail.LoadStar !== undefined">
                        <div class="attr-user">Inicio de carga</div>
                        <span>{{travelDetail.LoadStar}}</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="4" *ngIf="travelDetail.LoadEnd !== undefined">
                        <div class="attr-user">Inicio de viaje</div>
                        <span>{{travelDetail.LoadEnd}}</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="8" *ngIf="travelDetail.DowloadStar !== undefined">
                        <div class="attr-user">Inicio de descarga</div>
                        <span>{{travelDetail.DowloadStar}}</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="4" *ngIf="travelDetail.DowloadEnd !== undefined">
                        <div class="attr-user">Fin de Descarga</div>
                        <span>{{travelDetail.DowloadEnd}}</span>
                    </cwc-cell>
                </cwc-grid>
            </div>

            <div *ngIf="travelDetail.DowloadEnd !== undefined && travelDetail.StatusTravel === 5">
                <div class="attr-document">Documentación</div>
                <hr color="#D0D0D0" />
                <label for=""> Consignación </label>
                <div *ngIf="!fileTravel.fileConsignment">
                    <cwc-grid class="demo-grid content-archive" column-gap="1px">
                        <input type="file" accept="image/*,.pdf" #getConsignmentDocument style="display: none;"
                            (change)="fileTravel.onFileConsignment($event)" />
                        <cwc-cell (click)="openModalDocument('ConsignmentDocument')" class="border" mobile-colspan="6">
                            <div class="item-archives">
                                <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
                                <div class="text-archive">Tomar fotografía</div>
                            </div>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="6" alignItems="center">
                            <div class="item-archives" (click)="getConsignmentDocument.click()">
                                <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
                                <div class="text-archive">Seleccionar archivo</div>
                            </div>
                        </cwc-cell>
                    </cwc-grid>
                </div>
                <div *ngIf="fileTravel.fileConsignment">
                    <cwc-grid class="demo-grid content-archive flex">
                        <cwc-cell mobile-colspan="11">
                            <div class="item-archives">
                                <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
                                <div class="text-archive">{{fileTravel.fileConsignment}}</div>
                            </div>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="1" class="flex">
                            <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
                                (click)="fileTravel.deleteFileConsignment(inputFileC)"
                                name="close" size="20px" color="bright-blue">
                            </cwc-icon>
                        </cwc-cell>
                    </cwc-grid>
                </div>

                <hr color="#D0D0D0" />
                <label for=""> Manifiesto </label>
                <div *ngIf="!fileTravel.fileManifest">
                    <cwc-grid class="demo-grid content-archive" column-gap="1px">
                        <input type="file" accept="image/*,.pdf" #getManifestDocument style="display: none;"
                            (change)="fileTravel.onFileManifest($event)" />
                        <cwc-cell (click)="openModalDocument('ManifestDocument')" class="border" mobile-colspan="6">
                            <div class="item-archives">
                                <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
                                <div class="text-archive">Tomar fotografía</div>
                            </div>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="6" alignItems="center">
                            <div class="item-archives" (click)="getManifestDocument.click()">
                                <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
                                <div class="text-archive">Seleccionar archivo</div>
                            </div>
                        </cwc-cell>
                    </cwc-grid>
                </div>
                <div *ngIf="fileTravel.fileManifest">
                    <cwc-grid class="demo-grid content-archive flex">
                        <cwc-cell mobile-colspan="11">
                            <div class="item-archives">
                                <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
                                <div class="text-archive">{{fileTravel.fileManifest}}</div>
                            </div>
                        </cwc-cell>
                        <cwc-cell mobile-colspan="1" class="flex">
                            <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
                                (click)="fileTravel.deleteFileManifest(inputFileM)" name="close"
                                size="20px" color="bright-blue">
                            </cwc-icon>
                        </cwc-cell>
                    </cwc-grid>
                </div>
            </div>

            <hr color="#D0D0D0" />
            <cwc-grid class="demo-grid" style="padding-top: 0.5rem; padding-bottom: 1rem;"
                *ngIf="travelDetail.observationsOfTravel === undefined">
                <cwc-cell mobile-colspan="12">
                    <cwc-button style="color: #3897fc; font-weight: 600;" (cwcClick)="addMessage()" class="btn-add-user"
                        variant='link' designVersion="v2">
                        <cwc-icon class="icon-add" name="plus" size="12px" style="color: #3897fc;"></cwc-icon>
                        Agregar actualización
                    </cwc-button>
                </cwc-cell>
            </cwc-grid>
            <cwc-grid class="demo-grid" style="padding-top: 0.5rem; padding-bottom: 1rem;"
                *ngIf="travelDetail.observationsOfTravel !== undefined">
                <cwc-cell mobile-colspan="6">
                    <div style="color: #3897fc; font-weight: 600;">
                        Actualizaciones
                        <span style="padding-left: 1.2rem;">
                            <cwc-badge position="se" count="1" color="status-info">
                            </cwc-badge>
                        </span>
                    </div>
                </cwc-cell>
                <cwc-cell mobile-colspan="6" style="text-align: end;" *ngIf="showDetail">
                    <cwc-button variant="link" (cwcClick)="showDetail = !showDetail">
                        <cwc-icon name="straight-arrow-down" size="15px" style="color: #D0D0D0;"></cwc-icon>
                    </cwc-button>
                </cwc-cell>
                <cwc-cell mobile-colspan="6" style="text-align: end;" *ngIf="!showDetail">
                    <cwc-button variant="link" (cwcClick)="showDetail = !showDetail">
                        <cwc-icon name="straight-arrow-up" size="15px" style="color: #D0D0D0;"></cwc-icon>
                    </cwc-button>
                </cwc-cell>
            </cwc-grid>
            <div *ngIf="showDetail">
                <cwc-grid class="demo-grid">
                    <cwc-cell mobile-colspan="12">
                        <div class="attr-user">Fecha y hora de cita</div>
                        <span>10:30 am</span>
                    </cwc-cell>
                    <cwc-cell mobile-colspan="12">
                        <div class="attr-user">Actualización</div>
                        <span>{{travelDetail.observationsOfTravel}}</span>
                    </cwc-cell>
                </cwc-grid>
            </div>
        </div>
    </cwc-cell>
</cwc-grid>

<cwc-modal id='modal-document' class="modal-cemex" closeOnBdClick="false" (cwcClose)="cloceModalDocument()">
    <header slot='header'>
        <h2 style='margin:0;'>Agregar {{nameText}} (Opcional)</h2>
    </header>
    <cwc-grid class="demo-grid" design-version="v2" columns="12" mobile-columns="12" style="margin-top: 2rem;"
        style="margin-bottom: 2rem">
        <cwc-cell colspan="6" mobile-colspan="12" style="cursor: pointer; margin-top: 1rem;">
            <div class="contend-upload-camera-travel" (click)="fileTravel.openCameraOne()">

                <ion-img class="img-photo-register" *ngIf="fileTravel.photoFrontal" [src]="fileTravel.photoFrontal"
                    style="object-fit: cover;
            max-height: 350px !important;"></ion-img>

                <cwc-icon *ngIf="!fileTravel.photoFrontal" name="camera" color="bright-blue" size="30px"
                    style="margin-right: 1rem;"></cwc-icon>
                <p *ngIf="!fileTravel.photoFrontal">Abrir cámara del dispositivo</p>

            </div>
            <cwc-button (cwcClick)="fileTravel.removePhotoFrontal()" *ngIf="fileTravel.photoFrontal" variant="link"
                class="m-h-reg remove-photo-archive">Quitar Foto</cwc-button>
        </cwc-cell>
    </cwc-grid>
    <footer slot='footer'>
        <div style='text-align: center'>
            <cwc-button variant='support' design-version="v2" (cwcClick)="cloceModalDocument()"
                style="margin-right: 1rem;">
                Cancelar</cwc-button>
            <cwc-button design-version="v2" *ngIf="fileTravel.photoFrontal"
                variant='primary' (cwcClick)="saveDocument()">Aceptar</cwc-button>
        </div>
    </footer>
</cwc-modal>