.content-grid-reset-password{
    margin-top: 2rem !important;
    display: flex !important;
    justify-content: center !important;
    // align-items: center !important;
 }
.title-reset-password{
    color: #002a59;
    text-align: center;
}
.subtitle-reset-password{
    color: #002a59;
    text-align: center;
}
.content-form-reset-password{
    margin-top: 6rem;
}
.input-email-reset-password{
    width: 100%;
    padding-bottom: 0.7rem;
    margin-bottom: 0rem;
}
.toolbar-reset-password{
    --background: #F4F6F9;
    padding: 5rem !important;
}
.text-message-email{
    color: black !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}