<cwc-header design-version="v2" slot="header" show-Menu-Button="false" show-cemex-logo="false">
  <div class="header-text">
    <ion-icon name="arrow-back-outline" style="font-size: large;" (click)="onBack()"></ion-icon>
    <div class="attr-name" *ngIf="travel" style="padding-left: 1rem; font-size: large; font-weight: 900;">Viaje {{travel.codeTravel}}</div>
  </div>
</cwc-header>
<div slot="main" *ngIf="travel" class="content-card">
  <cwc-card class="card-info" design-version="v1">
    <div class="card-content">
      <div class="header-card">
        <div class="avatar-info">
          <div class="attr-user">CONDUCTOR</div>
          <span class="attr-detail">Pendiente por confirmar</span>
        </div>
      </div>

      <hr color="#D0D0D0" />
      <cwc-grid class="demo-grid center-cell">
        <cwc-cell colspan="12" mobile-colspan="12">
          <div class="attr-user">ORIGEN</div>
          <span class="attr-detail">{{travel.Source}}</span>
        </cwc-cell>
      </cwc-grid>

      <cwc-grid class="demo-grid center-cell">
        <cwc-cell colspan="12" mobile-colspan="12">
          <div class="attr-user">DESTINO</div>
          <span class="attr-detail">{{travel.Destiny}}</span>
        </cwc-cell>
      </cwc-grid>

      <cwc-grid class="demo-grid center-cell">
        <cwc-cell colspan="12" mobile-colspan="12">
          <div class="attr-user">PRODUCTO</div>
          <span class="attr-detail">{{travel.ProductName}}</span>
        </cwc-cell>
      </cwc-grid>

      <cwc-grid class="demo-grid center-cell">
        <cwc-cell mobile-colspan="6">
          <div class="attr-user">FECHA Y HORA DE CITA</div>
          <span class="attr-detail">{{travel.DateTravel | date : 'mediumDate'}} - {{travel.TimerStar}}</span>
        </cwc-cell>
        <cwc-cell mobile-colspan="6">
          <div class="attr-user">CANTIDAD</div>
          <span class="attr-detail">{{travel.Amount}}</span>
        </cwc-cell>
      </cwc-grid>

      <cwc-grid class="demo-grid center-cell" *ngIf="travel.LicenseVehiculo">
        <cwc-cell mobile-colspan="6">
          <div class="attr-user">MODELO</div>
          <span class="attr-detail">{{travel.Model}}</span>
        </cwc-cell>
        <cwc-cell mobile-colspan="6">
          <div class="attr-user">NUMERO DE PLACA</div>
          <span class="attr-detail">{{travel.LicenseVehiculo}}</span>
        </cwc-cell>
      </cwc-grid>

      <cwc-grid class="demo-grid center-cell">
        <cwc-cell mobile-colspan="6">
          <div class="attr-user">CLIENTE</div>
          <span class="attr-detail">{{travel.CompanyName}}</span>
        </cwc-cell>
      </cwc-grid>

      <div *ngIf="travel.UserId === idUser">
        <hr color="#D0D0D0" />
        <cwc-grid class="demo-grid" style="padding-top: 0.5rem;" >        
            <cwc-cell mobile-colspan="12" style="text-align: end;">
              <cwc-button variant="link" class="m-h-reg link-cwc" (cwcClick)="showModal()">
                <div style="font-size: small;  font-weight: normal;">ASIGNAR CONDUCTOR</div>
              </cwc-button>
            </cwc-cell>
          </cwc-grid>
      </div>      
    </div>
  </cwc-card>
</div>

<cwc-modal id='modal-assign-trip' class="modal-list" design-version="v2" style="z-index: 0;">
  <h3 style='text-align: center;'>Asignar conductor</h3>
      <cwc-picker id="time-seleccwc-picker" class="select-filter" label="" placeholder="Seleccionar" (cwcChange)="changeDriver($event)">
          <cwc-picker-option selected value="0">Seleccionar</cwc-picker-option>
          <cwc-picker-option *ngFor="let driver of listDrivers" [value]="driver.VehicleId" >{{driver.FirstName + ' ' + driver.LastName}}, {{driver.LicenseVehiculo}}</cwc-picker-option>
      </cwc-picker>
      <cwc-input
          style="width: 100%;"
          design-version="v2"
          label='Vehiculo'
          [(ngModel)]="driveSelected"
          class='input-update-user'
          disabled="true"
          placeholder="Seleccionar">
      </cwc-input>
      <cwc-button [disabled]="licenseOk" (click)="driverAssign()" variant="primary-block" design-version="v2">Aceptar</cwc-button>
</cwc-modal>

<cwc-modal id='modal-confirm' [open]="messageShowA" close-on-bd-click="false">
  <div style='text-align: center'>
      <cwc-icon name='accepted-ok' size='120px' color='bright-green'></cwc-icon>
      <h3 class='modal--confirmation__message'>El conductor ha sido asignado de manera exitosa.</h3>
  </div>
</cwc-modal>

<cwc-modal id='modal-confirm-driver' [open]="messageShow" close-on-bd-click="false" (cwcClose)="onBack()">
  <div style='text-align: center'>
      <cwc-icon name='accepted-ok' size='120px' color='bright-green'></cwc-icon>
      <h3 class='modal--confirmation__message'>El viaje ha sido confirmado de manera exitosa.</h3>
  </div>
</cwc-modal>

<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>