<app-layout class="card-size">
  <cwc-grid class="demo-grid" row-gap="2px">
    <cwc-cell colspan="12" mobile-colspan="11" style="padding-bottom: 0;">     
      <div>
        <cwc-input class="search-text" variant="regular" rtl="false" trailing-icon='magnifier-glass' placeholder='Buscar...'></cwc-input>  
      </div>       
    </cwc-cell> 
    <cwc-cell colspan="12" mobile-colspan="1">    
      <div class="icon">
        <cwc-button variant="link">          
          <cwc-icon variant="link" name='controls' size="20px" aria-role="button"></cwc-icon>
        </cwc-button>
      </div>  
    </cwc-cell>    
  </cwc-grid>  
  <h6 class="text-vehicles">Conductores ({{driversList.length}})</h6>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="navbar">    
      <app-driver-list [drivers]="driversList"></app-driver-list>
    </div>  
  </ion-content>
  
  <cwc-button class="float" routerLink="agregar" design-version="v2" size="large" variant="ghost" ratio="square" trailing-icon="plus"></cwc-button>
</app-layout>

<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>
