<app-layout class="card-size">
  <div class="content-page">
    <cwc-grid class="demo-grid" row-gap="2px">
      <cwc-cell colspan="12" mobile-colspan="12" style="padding-bottom: 0;">     
        <div>
          <cwc-input class="search-text" variant="regular" rtl="false" trailing-icon='magnifier-glass' [(ngModel)]="search" placeholder='Buscar...'></cwc-input>  
        </div>       
      </cwc-cell>
    </cwc-grid>
    <h4 class="text-vehicles">Conductores ({{driversList.length}})</h4>
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="navbar">    
        <app-driver-list [searchFilter]="search" [drivers]="driversList"></app-driver-list>
      </div>  
    </ion-content>
    
    <cwc-button class="float" routerLink="agregar" design-version="v2" size="large" variant="ghost" ratio="square" trailing-icon="plus"></cwc-button>
  </div>
</app-layout>

<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>
