<label for="">Licencia de conducir (opcional)</label>
      <cwc-grid class="demo-grid content-archive" >
        <cwc-cell class="border" colspan="6" mobile-colspan="6">
          <div class="item-archives">
            <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
            <h5 class="text-archive">Tomar fotografía</h5>
          </div>
        </cwc-cell>
        <cwc-cell colspan="6" mobile-colspan="6">
          <div class="item-archives">
            <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
            <h5 class="text-archive">Seleccionar archivo</h5>
          </div>
        </cwc-cell>
      </cwc-grid>

    <label for="">Carné de seguridad industrial y vial (opcional)</label>
      <cwc-grid class="demo-grid content-archive" >
        <cwc-cell class="border" colspan="6" mobile-colspan="6">
          <div class="item-archives">
            <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
            <h5 class="text-archive">Tomar fotografía</h5>
          </div>
        </cwc-cell>
        <cwc-cell colspan="6" mobile-colspan="6">
          <div class="item-archives">
            <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
            <h5 class="text-archive">Seleccionar archivo</h5>
          </div>
        </cwc-cell>
    </cwc-grid>

    <label for="">Cédula de ciudadania (opcional)</label>
      <cwc-grid class="demo-grid content-archive" >
        <cwc-cell class="border" colspan="6" mobile-colspan="6">
          <div class="item-archives">
            <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
            <h5 class="text-archive">Tomar fotografía</h5>
          </div>
        </cwc-cell>
        <cwc-cell colspan="6" mobile-colspan="6">
          <div class="item-archives">
            <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
            <h5 class="text-archive">Seleccionar archivo</h5>
          </div>
        </cwc-cell>
    </cwc-grid>
