.content-card{
    padding-top: 5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem; 
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}

.content-title{
    padding-top: 1rem;
    font-weight: 200;
}

.content-grid-register{
    // display: flex !important;
    overflow: auto;
    justify-content: center !important;
    // align-items: center !important;
 }