<cwc-header design-version="v2" slot="header" show-Menu-Button="false" show-cemex-logo="false">
  <div class="header-text">
    <ion-icon name="arrow-back-outline" style="font-size: 25px;" (click)="onBack()"></ion-icon>
    <div class="attr-name" style="padding-left: 1rem;">Iniciar sesión</div>
  </div>
</cwc-header>
<div slot="main" class="content-card">
  <div class="content-title">
    Crear Nuevo Usuario
  </div>

  <cwc-picker
    (cwcChange)="cwcChange($event)"
    class="select-filter"
    label="Rol"
    filter-no-resultsMessage="No se encontraron resultados" 
    filter-placeholder="Filtrar Roles" 
    placeholder="Seleccionar"
    design-version="v2"
    filter>
      <option value="1">Administrador Logistico Tercero</option>
      <option value="2">Hombre Camión</option>
      <option value="3">Conductor</option>
  </cwc-picker>
  <!--=====================================
		FORMULARIO DE REGISTRO HOMBRE CAMIÓN
  ======================================-->
  <div *ngIf="showFormManTruck">
    <app-register-mantruck 
    (propagar)="showLoading($event)" 
    [typeConveyor]="selectTypeConveyor">
  </app-register-mantruck>
  </div>
  <!--=====================================
		FORMULARIO DE REGISTRO ADMINISTRADOR LOGISTICO TERCERO
  ======================================-->
  <div *ngIf="showFormAdminLogist">
    <app-register-admin-logist-third
    (propagar)="showLoading($event)"
    [typeConveyor]="selectTypeConveyor"
    ></app-register-admin-logist-third>
  </div>
  <!--=====================================
		FORMULARIO DE REGISTRO CONDUCTOR
  ======================================-->
  <div *ngIf="showFormDriver">
    <app-register-driver 
    (propagar)="showLoading($event)" 
    [typeConveyor]="selectTypeConveyor">
    </app-register-driver>
  </div>
</div>


<!--=====================================
		LOANDING
======================================-->
<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>