.content-grid-register{
    // display: flex !important;
    overflow: auto;
    justify-content: center !important;
    // align-items: center !important;
 }
 .content-title-register{
    margin-bottom: 2rem;
}
.content-title-register h2{
    color: #002a59;
    // font-weight: 600;
}
.section{
    margin-bottom: 1rem;
    cwc-radio{
        margin-bottom: 0.2rem;
    }
}
.content-button{
    margin-top: 3rem;
}
