<app-layout class="card-size">
  <cwc-tabs variant="heading">
    <cwc-tab [active]="selectedTab == 'anteriores'" name='anteriores' (click)="changeTab('anteriores')">ANTERIORES</cwc-tab>
    <cwc-tab [active]="selectedTab == 'programados'" name='programados' (click)="changeTab('programados')">PROGRAMADOS</cwc-tab>
  </cwc-tabs>
  <div class="content-page">
    <cwc-grid class="demo-grid" row-gap="2px">
      <cwc-cell mobile-colspan="12" style="padding-top: 0.8rem;">     
        <div>
          <cwc-input design-version="v2" class="search-text" variant="regular" rtl="false" trailing-icon='magnifier-glass' [(ngModel)]="search" placeholder='Buscar...'></cwc-input>  
        </div>       
      </cwc-cell>
    </cwc-grid>  
    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div [ngSwitch]="selectedTab" class="navbar" style="padding-top: 0.8rem;">
        <app-previous-trips-list *ngSwitchCase="'anteriores'" [tripsList]="previousTripsList" [sizeList]="sizePrevious" [searchFilter]="search"></app-previous-trips-list>
        <app-scheduled-trips-list *ngSwitchCase="'programados'" [tripsList]="scheduledTripsList" [sizeList]="sizeScheduled" [searchFilter]="search"></app-scheduled-trips-list>
      </div>
    </ion-content>    
  </div>  
</app-layout>