<div slot="main" class="content-grid-reset-password content">
  <form (submit)="sendEmail()" [formGroup]="form">
  <cwc-grid class="demo-grid" design-version="v2" columns="12" mobile-columns="12">
    <cwc-cell colspan="12" mobile-colspan="12">
        <h3 class="title-reset-password">Cambiar contraseña</h3>
        <div class="border-red"></div>
        <h6 class="subtitle-reset-password">Ingresa tu codigo de recuperación y tu nueva contraseña.</h6>
        <div class="content-form-reset-password">
          <div class="input-otp">
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
          </div>
          <cwc-input class="input-email-reset-password input" 
                  design-version="v2"
                  label='Nueva Contraseña'
                  formControlName="NewPassword"
                  type="password"
                  [status]='statusInputPassword'
                  [statusMessage]='statusInputMessagePassword'
                  ngDefaultControl
                  required 
                  ></cwc-input>
            <cwc-button class="btn-login" 
                  style="margin-bottom: 1rem;"
                  [disabled]="form.invalid"
                  (click)="sendEmail()" 
                  design-version="v1" 
                  disabled="false" 
                  variant="primary-block">ACTUALIZAR CONTRASEÑA</cwc-button>
                  <app-error-messages [errors]="errors"></app-error-messages>
                  <div class="button">
                    <cwc-button variant="link" (click)="onBack()" leading-icon="arrow-left-straight">Recuperar contraseña</cwc-button>
                </div>
        </div>
    </cwc-cell>
  </cwc-grid>
  </form>
</div>
<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
    <span slot='delay'>Enviando correo electrónico...</span>
  </cwc-loader>
</div>

<app-alert-success
  [alertShow] = "alertSucces"
  title = "Exitoso" 
  urlButton = "/login"
  message = "Envíamos un correo electrónico con las instrucciones para que pueda reestablecer su contraseña">
</app-alert-success>
