.content-grid-roles{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-roles{
    height:9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-card{
   padding: 0.5rem;
   text-align: center;
}


.splash {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo {
    animation-name: pulsing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulsing {
    0% {transform: scale(1.0)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1.0)}
}