.content-grid-roles{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-roles{
    height:9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-card{
   padding: 0.5rem;
   text-align: center;
}