<cwc-header design-version="v2" slot="header" show-Menu-Button="false" show-cemex-logo="false">
  <div class="header-text">
    <ion-icon name="arrow-back-outline" style="font-size: large;" (click)="onBack()"></ion-icon>
    <div class="attr-name" style="padding-left: 1rem; font-size: large; font-weight: 900;">Editar datos</div>
  </div>
</cwc-header>
<div slot="main" class="content-card">
  <div class="content-title">
    Mis datos
  </div>
  <div *ngIf="rol === 3 || rol === 2">
    <app-edit-admin-logis-third (propagar)="showLoading($event)">
    </app-edit-admin-logis-third>
  </div>
  <div *ngIf="rol === 1">
    <app-edit-driver (propagar)="showLoading($event)">
    </app-edit-driver>
  </div>
</div>

<div *ngIf="loading" class="loading-content">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>