<cwc-grid class="demo-grid">
  <cwc-cell colspan="6" mobile-colspan="12" (click)="detailRequest(request.id)" *ngFor="let request of requestsList">
    <cwc-card class="m-all-xs" design-version="v2">
      <div class="main-content-card">
        <div class="header-card">
          <cwc-cell colspan="6" mobile-colspan="12">
            <div class="attr-user">Viaje {{request.travelsCode}}</div>
          </cwc-cell>
          <div style="text-align: right;">
            <cwc-status-indicator variant='alert'>
              {{request.statusTravel}}
            </cwc-status-indicator>
          </div>
        </div>

        <hr class="line">

        <cwc-grid class="demo-grid">
          <cwc-cell colspan="12" mobile-colspan="12">
            <div class="attr-user">Origen</div>
            <span>{{request.origen}}</span>
          </cwc-cell>
        </cwc-grid>

        <cwc-grid class="demo-grid">
          <cwc-cell colspan="12" mobile-colspan="12">
            <div class="attr-user">Destino</div>
            <span>{{request.destino}}</span>
          </cwc-cell>
        </cwc-grid>

        <cwc-grid class="demo-grid">
          <cwc-cell colspan="6" mobile-colspan="12">
            <div class="attr-user">Fecha y hora</div>
            <span>{{request.dateTravel}} {{request.timerStar}}</span>
          </cwc-cell>
          <cwc-cell colspan="6" mobile-colspan="12">
            <div class="attr-user">Numero de Placa</div>
            <span>{{request.vehicleLissenceName}}</span>
          </cwc-cell>
        </cwc-grid>

        <cwc-grid class="demo-grid center-cell">
          <cwc-cell colspan="12" mobile-colspan="12">
            <div class="attr-user">Modelo</div>
            <span>{{request.vehicleModelName}}</span>
          </cwc-cell>
        </cwc-grid>

        <cwc-grid class="demo-grid center-cell">
          <cwc-cell colspan="6" mobile-colspan="12">
            <div class="attr-user">Inicio de viaje</div>
            <span>{{request.timerStar}}</span>
          </cwc-cell>
        </cwc-grid>
      </div>
    </cwc-card>
  </cwc-cell>
</cwc-grid>