.content-body-trip {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.item-trip {
    display: flex;
    margin-bottom: 0.8rem;
}
span.style-text {
    margin-right: 10px;
    font-weight: 700;
    line-height: 15px;
    font-size: 18px;
}