
<h4 *ngIf="travelId" style="margin-top: 1.8rem;">Los viajes de hoy</h4>
<cwc-card *ngIf="travelId" design-version="v2">
  <div class="card-content" design-version="v2">
    <p style="text-align: center; font-size: small;">Tu siguiente viaje <b>{{travelId}}</b> está en <b>{{textResp.getStatusTravel(travelStatuss)}}</b></p>
    <h4 style="text-align: center;">Revisar mi siguiente viaje</h4>
    <hr color="#D0D0D0"/>
    <h4 style="text-align: center;" (click)="onClickMyTravel()">Revisar mis viajes</h4>
  </div>
</cwc-card>

<h4 *ngIf="travelId == null" style="margin-top: 1.5rem;">Buscar viaje</h4>
<cwc-card *ngIf="travelId == null" style="margin-top: 1rem;" design-version="v2">
  <div class="card-content">
   <h4 style="text-align: center;">Buscar viaje</h4>
   <p style="text-align: center; font-size: 15px;">Revisa entre nuestros distintos departamentos disponibles un viaje que se ajuste a tu ruta y horario.</p>
  </div>
</cwc-card>

<cwc-button *ngIf="travelId == null" style="margin-top: 1rem;" variant="regular-block" (cwcClick)="onClickTravel()">
  <div class="button-css">BUSCAR VIAJE</div>
</cwc-button>

<cwc-card style="margin-top: 1rem;" design-version="v2">
  <div class="card-content">
   <h4 style="text-align: center;">Accede a tu cuenta Clever</h4>
   <p style="text-align: center; font-size: small;">Revisa tus datos y manten tu perfil actualizado para un mejor seguimiento</p>
   <div>
    <cwc-button class="button-css" variant="regular-block" (cwcClick)="onUrl(linkClever)">
      <div class="button-css">CLEVER GLOBAL</div>
    </cwc-button>
   </div>
  </div>
</cwc-card>

<cwc-card style="margin-top: 1rem;" design-version="v2">
  <div class="card-content">
   <h4 style="text-align: center;">Tu viaje CEMEX</h4>
   <p style="text-align: center; font-size: small;">Verifica el estado de tus viajes y actualizaciones de los mismos</p>
   <div>
    <cwc-button class="button-css" variant="regular-block" (cwcClick)="onUrl(linkTrip)">
      <div class="button-css" >Tu viaje CEMEX</div>
      </cwc-button>
   </div>
  </div>
</cwc-card>
