.header-text{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top: 1;
    right: 50;
    left: 0;
    margin-left: 1rem;
 }
 
 .attr-name{
    font-weight: 700;    
 }

.input-check-docs {
    margin-bottom: 1rem;
}

.content-title-register{
    margin-bottom: 3rem;
}