<cwc-header design-version="v2" slot="header" show-Menu-Button="false" show-cemex-logo="false">
  <div class="header-text">
    <ion-icon name="arrow-back-outline" style="font-size: large;" (click)="onBack()"></ion-icon>
    <div class="attr-name" style="padding-left: 1rem; font-size: large; font-weight: 900;">Actualizar documentos</div>
  </div>
</cwc-header>
<div slot="main" class="content">
  <div class="content-title-register">
    <h4>Seleccione el documento que desea actualizar</h4>
  </div>
  <div>
    <cwc-grid class="demo-grid">
      <cwc-cell colspan="6" mobile-colspan="12">
        <div class="content-check-docs">
          <cwc-checkbox (cwcChange)="showFileDrivinglicense($event)" class="input-check-docs">Licencia de
            conducir</cwc-checkbox>
          <cwc-checkbox (cwcChange)="showFileSecurityCard($event)" class="input-check-docs">Carné de Seguridad Idustrial
            y
            Vial</cwc-checkbox>
          <cwc-checkbox (cwcChange)="showFileDocument($event)" class="input-check-docs">Cédula de
            Ciudadanía</cwc-checkbox>
        </div>

        <div *ngIf="!validateCheckBox() || !showUpdateDoc" class="content-button">
          <cwc-button [disabled]="!validateCheckBox()" (cwcClick)="nextSelectDoc()" variant="regular-block"
            design-version="v1">
            <div class="button-css">SIGUIENTE</div>
          </cwc-button>
        </div>
      </cwc-cell>
    </cwc-grid>

    <div *ngIf="validateCheckBox() && showUpdateDoc" style="margin-top: 2rem;">
      <h4>Adjunte los documentos seleccionados</h4>
      <div *ngIf="fileDrivinglicenseV">
        <label for="">Licencia de conducción</label>
        <div *ngIf="!fileRegister.fileDrivinglicense">
          <cwc-grid class="demo-grid content-archive" column-gap="1px">
            <input type="file" accept="image/*,.pdf" #getFileDrivinglicense style="display: none;"
              (change)="fileRegister.onFileDrivinglicense($event)" />
            <cwc-cell (click)="openModalDocument('LicenciaConduccion')" class="border" mobile-colspan="6">
              <div class="item-archives">
                <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Tomar fotografía</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="6" alignItems="center">
              <div class="item-archives" (click)="getFileDrivinglicense.click()">
                <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Seleccionar archivo</div>
              </div>
            </cwc-cell>
          </cwc-grid>
        </div>
        <div *ngIf="fileRegister.fileDrivinglicense">
          <cwc-grid class="demo-grid content-archive flex">
            <cwc-cell mobile-colspan="11">
              <div class="item-archives">
                <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">{{fileRegister.fileDrivinglicense}}</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="1" class="flex">
              <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
                (click)="fileRegister.deleteFileDrivinglicense(inputFileDrive)" name="close" size="20px"
                color="bright-blue">
              </cwc-icon>
            </cwc-cell>
          </cwc-grid>
        </div>
      </div>

      <div *ngIf="fileSecurityCardV">
        <label for="">Carné de seguridad industrial y vial</label>
        <div *ngIf="!fileRegister.fileSecurityCard">
          <cwc-grid class="demo-grid content-archive" column-gap="1px">
            <input type="file" accept="image/*,.pdf" #getFileSecurityCard style="display: none;"
              (change)="fileRegister.onFileSecurityCard($event)" />
            <cwc-cell (click)="openModalDocument('CarnetSeguridadIndustrial')" class="border" colspan="6"
              mobile-colspan="6">
              <div class="item-archives">
                <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Tomar fotografía</div>
              </div>
            </cwc-cell>
            <cwc-cell colspan="6" mobile-colspan="6">
              <div class="item-archives" (click)="getFileSecurityCard.click()">
                <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Seleccionar archivo</div>
              </div>
            </cwc-cell>
          </cwc-grid>
        </div>
        <div *ngIf="fileRegister.fileSecurityCard">
          <cwc-grid class="demo-grid content-archive flex">
            <cwc-cell mobile-colspan="11">
              <div class="item-archives">
                <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">{{fileRegister.fileSecurityCard}}</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="1" class="flex">
              <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
                (click)="fileRegister.deleteFileSecurityCard(inputFileSecurity)" name="close" size="20px"
                color="bright-blue">
              </cwc-icon>
            </cwc-cell>
          </cwc-grid>
        </div>
      </div>

      <div *ngIf="fileDocumentV">
        <label for="">Cédula de ciudadanía</label>
        <div *ngIf="!fileRegister.fileDocument">
          <cwc-grid class="demo-grid content-archive" column-gap="1px">
            <input type="file" accept="image/*,.pdf" #getFileDocument style="display: none;"
              (change)="fileRegister.onFileDocument($event)" />
            <cwc-cell (click)="openModalDocument('CedulaDocumento')" class="border" colspan="6" mobile-colspan="6">
              <div class="item-archives">
                <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Tomar fotografía</div>
              </div>
            </cwc-cell>
            <cwc-cell colspan="6" mobile-colspan="6">
              <div class="item-archives" (click)="getFileDocument.click()">
                <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">Seleccionar archivo</div>
              </div>
            </cwc-cell>
          </cwc-grid>
        </div>
        <div *ngIf="fileRegister.fileDocument">
          <cwc-grid class="demo-grid content-archive flex">
            <cwc-cell mobile-colspan="11">
              <div class="item-archives">
                <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
                <div class="text-archive">{{fileRegister.fileDocument}}</div>
              </div>
            </cwc-cell>
            <cwc-cell mobile-colspan="1" class="flex">
              <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
                (click)="fileRegister.deleteFileDocument(inputFileDoc)" name="close" size="20px" color="bright-blue">
              </cwc-icon>
            </cwc-cell>
          </cwc-grid>
        </div>
      </div>

      <div class="content-button">
        <cwc-button (cwcClick)="updateDocument()" variant="regular-block"
          design-version="v1">
          <div class="button-css">AGREGAR DOCUMENTOS</div>
        </cwc-button>
      </div>
    </div>
  </div>
</div>
<!--=====================================
		ALERTA SUBIO CORRECTAMENTE
======================================-->
<app-alert-success [alertShow]="alertSucces" title="Existoso" urlButton="/app/conductores/detalles"
  message="El archivo se actualizó correctamente">
</app-alert-success>

<cwc-snackbar id='toast-message-driver' [message]="toastMessage" cta-message="dismiss" auto-hide-duration='5000'>
</cwc-snackbar>


<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>

<cwc-modal id='modal-document' class="modal-cemex" closeOnBdClick="false" (cwcClose)="cloceModalDocument()">
  <header slot='header'>
    <h2 style='margin:0;'>Agregar {{nameText}} (Opcional)</h2>
  </header>
  <cwc-grid class="demo-grid" design-version="v2" columns="12" mobile-columns="12" style="margin-top: 2rem;"
    style="margin-bottom: 2rem">
    <cwc-cell colspan="6" mobile-colspan="12" style="cursor: pointer; margin-top: 1rem;">
      <label for="">1. Parte frontal del documento.</label>
      <div class="contend-upload-camera" (click)="fileRegister.openCameraOne()">

        <ion-img class="img-photo-register" *ngIf="fileRegister.photoFrontal" [src]="fileRegister.photoFrontal" style="object-fit: cover;
          max-height: 175px !important;"></ion-img>

        <cwc-icon *ngIf="!fileRegister.photoFrontal" name="camera" color="bright-blue" size="30px"
          style="margin-right: 1rem;"></cwc-icon>
        <p *ngIf="!fileRegister.photoFrontal">Abrir cámara del dispositivo</p>

      </div>
      <cwc-button (cwcClick)="fileRegister.removePhotoFrontal()" *ngIf="fileRegister.photoFrontal" variant="link"
        class="m-h-reg remove-photo-archive">Quitar Foto</cwc-button>
    </cwc-cell>
    <cwc-cell colspan="6" mobile-colspan="12" style="cursor: pointer; margin-top: 1rem;">
      <label for="">2. Parte trasera del documento.</label>
      <div class="contend-upload-camera" (click)="fileRegister.openCameraTwo()">

        <ion-img class="img-photo-register" *ngIf="fileRegister.photoBack" [src]="fileRegister.photoBack" style="object-fit: cover;
        max-height: 175px !important;"></ion-img>

        <cwc-icon *ngIf="!fileRegister.photoBack" name="camera" color="bright-blue" size="30px"
          style="margin-right: 1rem;"></cwc-icon>
        <p *ngIf="!fileRegister.photoBack">Abrir cámara del dispositivo</p>

      </div>
      <cwc-button (cwClick)="fileRegister.removePhotoBack()" *ngIf="fileRegister.photoBack" variant="link"
        class="m-h-reg remove-photo-archive">Quitar Foto</cwc-button>
    </cwc-cell>
  </cwc-grid>
  <footer slot='footer'>
    <div style='text-align: center'>
      <cwc-button variant='support' design-version="v2" (cwcClick)="cloceModalDocument()" style="margin-right: 1rem;">
        Cancelar</cwc-button>
      <cwc-button design-version="v2" *ngIf="fileRegister.photoBack && fileRegister.photoFrontal" variant='primary'
        (cwcClick)="saveDocument()">Aceptar</cwc-button>
    </div>
  </footer>
</cwc-modal>