<cwc-header design-version="v2" slot="header" show-Menu-Button="false" show-cemex-logo="false">
  <div class="header-text">
    <ion-icon name="arrow-back-outline" style="font-size: large;" (click)="onBack()"></ion-icon>
    <div class="attr-name" style="padding-left: 1rem; font-size: large; font-weight: 900;">Agregar vehículo</div>
  </div>
</cwc-header>
<div slot="main" class="content-card">
  <div class="content-title">
    Nuevo vehículo
  </div>
  <form (submit)="createVehicle()" [formGroup]="form">
    <cwc-grid class="demo-grid" design-version="v2" columns="12" mobile-columns="12">
      <cwc-cell colspan="12" mobile-colspan="12">
        <div class="section">
          <cwc-input class="input" label='Modelo de vehículo' placeholder="Agrega el tipo de camión" design-version="v2"
            formControlName="Model" maxlength="45" required></cwc-input>
        </div>
        <div class="section">
          <cwc-input class="input" label='Placa' formControlName="LicenseVehiculo" design-version="v2"
            placeholder="Agrega número de serie" maxlength="20" required></cwc-input>
        </div>
        <div class="section">
          <cwc-input class="input" label='Tipo de trailer' formControlName="TypeTrailer"
            placeholder="Características especiales del vehículo" design-version="v2" maxlength="35"
            required></cwc-input>
        </div>
        <div class="section">
          <cwc-input class="input" label='Número de SOAT (opcional)' inputmode="numeric" type="number"
            formControlName="Soat" placeholder="Agregar los 20 dígitos de su número de SOAT" design-version="v2"
            length="11"></cwc-input>
        </div>
        <div class="section">
          <cwc-input class="input" label='Empresa' type="text" [disabled]="true" design-version="v2"
            [placeholder]="company" required></cwc-input>
        </div>
      </cwc-cell>
    </cwc-grid>
    <!--=====================================
        DOCUMENTO DE LA EMPRESA
      ======================================-->
    <label for=""> Documento de SOAT (opcional) </label>
    <div *ngIf="!fileVehicle.fileSOAT">
      <cwc-grid class="demo-grid content-archive" column-gap="1px">
        <input type="file" accept="image/*,.pdf" #getFileSoatDocument style="display: none;"
          (change)="fileVehicle.onFileSOAT($event)" />
        <cwc-cell (click)="openModalDocument('SoatDocument')" class="border" mobile-colspan="6">
          <div class="item-archives">
            <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">Tomar fotografía</div>
          </div>
        </cwc-cell>
        <cwc-cell mobile-colspan="6" alignItems="center">
          <div class="item-archives" (click)="getFileSoatDocument.click()">
            <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">Seleccionar archivo</div>
          </div>
        </cwc-cell>
      </cwc-grid>
    </div>
    <div *ngIf="fileVehicle.fileSOAT">
      <cwc-grid class="demo-grid content-archive flex">
        <cwc-cell mobile-colspan="11">
          <div class="item-archives">
            <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">{{fileVehicle.fileSOAT}}</div>
          </div>
        </cwc-cell>
        <cwc-cell mobile-colspan="1" class="flex">
          <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
            (click)="fileVehicle.deleteFileSOAT(inputFileSoat)" name="close" size="20px" color="bright-blue">
          </cwc-icon>
        </cwc-cell>
      </cwc-grid>
    </div>


    <label for=""> Certificado de revisión tecno mecánica (opcional) </label>
    <div *ngIf="!fileVehicle.fileTecnoMecanica">
      <cwc-grid class="demo-grid content-archive" column-gap="1px">
        <input type="file" accept="image/*,.pdf" #getFileTechnomechanicsDocument style="display: none;"
          (change)="fileVehicle.onFileTecnoMecanica($event)" />
        <cwc-cell (click)="openModalDocument('TechnomechanicsDocument')" class="border" mobile-colspan="6">
          <div class="item-archives">
            <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">Tomar fotografía</div>
          </div>
        </cwc-cell>
        <cwc-cell mobile-colspan="6" alignItems="center">
          <div class="item-archives" (click)="getFileTechnomechanicsDocument.click()">
            <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">Seleccionar archivo</div>
          </div>
        </cwc-cell>
      </cwc-grid>
    </div>
    <div *ngIf="fileVehicle.fileTecnoMecanica">
      <cwc-grid class="demo-grid content-archive flex">
        <cwc-cell mobile-colspan="11">
          <div class="item-archives">
            <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">{{fileVehicle.fileTecnoMecanica}}</div>
          </div>
        </cwc-cell>
        <cwc-cell mobile-colspan="1" class="flex">
          <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
            (click)="fileVehicle.deleteFileTecnoMecanica(inputFileTechnomechanicsDocument)" name="close" size="20px"
            color="bright-blue">
          </cwc-icon>
        </cwc-cell>
      </cwc-grid>
    </div>

    <label for=""> Póliza (opcional) </label>
    <div *ngIf="!fileVehicle.filePoliza">
      <cwc-grid class="demo-grid content-archive" column-gap="1px">
        <input type="file" accept="image/*,.pdf" #getFilePolicyDocument style="display: none;"
          (change)="fileVehicle.onFilePoliza($event)" />
        <cwc-cell (click)="openModalDocument('PolicyDocument')" class="border" mobile-colspan="6">
          <div class="item-archives">
            <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">Tomar fotografía</div>
          </div>
        </cwc-cell>
        <cwc-cell mobile-colspan="6" alignItems="center">
          <div class="item-archives" (click)="getFilePolicyDocument.click()">
            <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">Seleccionar archivo</div>
          </div>
        </cwc-cell>
      </cwc-grid>
    </div>
    <div *ngIf="fileVehicle.filePoliza">
      <cwc-grid class="demo-grid content-archive flex">
        <cwc-cell mobile-colspan="11">
          <div class="item-archives">
            <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">{{fileVehicle.filePoliza}}</div>
          </div>
        </cwc-cell>
        <cwc-cell mobile-colspan="1" class="flex">
          <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
            (click)="fileVehicle.deleteFilePoliza(inputFilePolicyDocument)" name="close" size="20px"
            color="bright-blue">
          </cwc-icon>
        </cwc-cell>
      </cwc-grid>
    </div>

    <label for=""> Tarjeta de propiedad (opcional) </label>
    <div *ngIf="!fileVehicle.fileTarjetaPropiedad">
      <cwc-grid class="demo-grid content-archive" column-gap="1px">
        <input type="file" accept="image/*,.pdf" #getFileCardPropertyDocument style="display: none;"
          (change)="fileVehicle.onFileTarjetaPropiedad($event)" />
        <cwc-cell (click)="openModalDocument('CardPropertyDocument')" class="border" mobile-colspan="6">
          <div class="item-archives">
            <cwc-icon name="camera" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">Tomar fotografía</div>
          </div>
        </cwc-cell>
        <cwc-cell mobile-colspan="6" alignItems="center">
          <div class="item-archives" (click)="getFileCardPropertyDocument.click()">
            <cwc-icon name="document" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">Seleccionar archivo</div>
          </div>
        </cwc-cell>
      </cwc-grid>
    </div>
    <div *ngIf="fileVehicle.fileTarjetaPropiedad">
      <cwc-grid class="demo-grid content-archive flex">
        <cwc-cell mobile-colspan="11">
          <div class="item-archives">
            <cwc-icon name="attachment" size="28px" color="bright-blue"></cwc-icon>
            <div class="text-archive">{{fileVehicle.fileTarjetaPropiedad}}</div>
          </div>
        </cwc-cell>
        <cwc-cell mobile-colspan="1" class="flex">
          <cwc-icon style="display: flex; align-items: center; padding-top: 5px; padding-right: 1rem;"
            (click)="fileVehicle.deleteFileTarjetaPropiedad(inputFileDoc)" name="close" size="20px" color="bright-blue">
          </cwc-icon>
        </cwc-cell>
      </cwc-grid>
    </div>

    <cwc-checkbox formControlName="term" mobile="true" class='m-end-sm' style="margin-bottom: 2rem;">
      <div class="input-check">Confirmo que la siguiente información es verdadera.</div>
    </cwc-checkbox>

    <app-error-messages [errors]="errors"></app-error-messages>
    <!--=====================================
      BOTON PARA GUARDAR EL REGISTRO
    ======================================-->
    <div class="content-button">
      <cwc-button design-version="v1" [disabled]="form.invalid" (cwcClick)="openAlertConfirm()" variant="regular-block">
        <div class="button-css">AGREGAR VEHÍCULO</div>
      </cwc-button>
    </div>
  </form>
</div>


<cwc-modal id='modal-document' class="modal-cemex" closeOnBdClick="false" (cwcClose)="cloceModalDocument()">
  <header slot='header'>
    <h2 style='margin:0;'>Agregar {{nameText}} (Opcional)</h2>
  </header>
  <cwc-grid class="demo-grid" design-version="v2" columns="12" mobile-columns="12" style="margin-top: 2rem;"
    style="margin-bottom: 2rem">
    <cwc-cell colspan="6" mobile-colspan="12" style="cursor: pointer; margin-top: 1rem;">
      <label for="">1. Parte frontal del documento.</label>
      <div class="contend-upload-camera" (click)="fileVehicle.openCameraOne()">

        <ion-img class="img-photo-register" *ngIf="fileVehicle.photoFrontal" [src]="fileVehicle.photoFrontal" style="object-fit: cover;
          max-height: 175px !important;"></ion-img>

        <cwc-icon *ngIf="!fileVehicle.photoFrontal" name="camera" color="bright-blue" size="30px"
          style="margin-right: 1rem;"></cwc-icon>
        <p *ngIf="!fileVehicle.photoFrontal">Abrir cámara del dispositivo</p>

      </div>
      <cwc-button (cwcClick)="fileVehicle.removePhotoFrontal()" *ngIf="fileVehicle.photoFrontal" variant="link"
        class="m-h-reg remove-photo-archive">Quitar Foto</cwc-button>
    </cwc-cell>
    <cwc-cell colspan="6" mobile-colspan="12" style="cursor: pointer; margin-top: 1rem;">
      <label for="">2. Parte trasera del documento.</label>
      <div class="contend-upload-camera" (click)="fileVehicle.openCameraTwo()">

        <ion-img class="img-photo-register" *ngIf="fileVehicle.photoBack" [src]="fileVehicle.photoBack" style="object-fit: cover;
        max-height: 175px !important;"></ion-img>

        <cwc-icon *ngIf="!fileVehicle.photoBack" name="camera" color="bright-blue" size="30px"
          style="margin-right: 1rem;"></cwc-icon>
        <p *ngIf="!fileVehicle.photoBack">Abrir cámara del dispositivo</p>

      </div>
      <cwc-button (cwcClick)="fileVehicle.removePhotoBack()" *ngIf="fileVehicle.photoBack" variant="link"
        class="m-h-reg remove-photo-archive">Quitar Foto</cwc-button>
    </cwc-cell>
  </cwc-grid>
  <footer slot='footer'>
    <div style='text-align: center'>
      <cwc-button variant='support' design-version="v2" (cwcClick)="cloceModalDocument()" style="margin-right: 1rem;">
        Cancelar</cwc-button>
      <cwc-button design-version="v2" *ngIf="fileVehicle.photoBack && fileVehicle.photoFrontal" variant='primary'
        (cwcClick)="saveDocument()">Aceptar</cwc-button>
    </div>
  </footer>
</cwc-modal>


<!--=====================================
		MODAL ALERTA CONFIRMAR DATOS GUARDAR
======================================-->
<cwc-modal id='alert-confirm' class="alert-confirm" [open]="alertConfirm" (cwcClose)="closeAlertConfirm()">
  <header slot='header'>
    <h2 style='margin:0;'>Atención</h2>
  </header>
  <p>¿Esta seguro que los datos registrados estan correctos?</p>
  <footer slot='footer'>
    <div style='text-align: end'>
      <cwc-button variant='support' (cwcClick)="closeAlertConfirm()" style="margin-right: 1rem;">Cancelar</cwc-button>
      <cwc-button variant='primary' (cwcClick)="createVehicle()">Aceptar</cwc-button>
    </div>
  </footer>
</cwc-modal>
<!--=====================================
		MODAL CONFIRMACIÓN RESPUESTA DE EXITO
======================================-->
<app-alert-success [alertShow]="alertSucces" title="Su información ha sido guardada" urlButton="/app/vehiculos"
  message="Los datos se están procesando, y al ser aprobado su vehículo recibirá una notificación.">
</app-alert-success>
<!--=====================================
	TOAST ALERT MENSAJE
======================================-->

<cwc-modal [open]="alertShow" close-on-bd-click="false" show-close-btn="false">
  <div style='text-align: center'>
    <h2 class='modal--confirmation__message'>Alerta limite</h2>
    <p>Has llegado al límite de vehiculos que puedes crear.</p>
  </div>
</cwc-modal>

<div class="loading-content" *ngIf="loading">
  <cwc-loader>
    <span slot='loading'>Espere un momento...</span>
  </cwc-loader>
</div>