.content-grid-register{
    // display: flex !important;
    overflow: auto;
    justify-content: center !important;
    // align-items: center !important;
 }

 .content-title{
    padding-bottom: 2rem;
 }

 .content-picker{
    padding-bottom: 2rem;
 }

 .input-check{
    font-size: small;
    padding-bottom: 2rem;
}